<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title> Add New Series</h1>
  <div mat-dialog-content style="display:flex;flex-direction: column;width: 25rem">
    <mat-form-field style="width: 20rem">
      <mat-label>Series Name</mat-label>
      <input matInput formControlName="seriesName">
    </mat-form-field>




  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="closeAddSeriesDialog()" >Cancel</button>
    <button mat-raised-button type="submit">Add Series</button>
  </div>
</form>



