<div class="allHeader">
  <mat-card class="topArticle">
    <mat-card-content>
      <mat-card-title-group>
        <mat-card-title>
          <p style="font-family:'Century Gothic',serif;font-weight:bold">
            Staff Picks: The Fall Books CorvoBianco Editors Can't Wait to Read
          </p>
        </mat-card-title>
        <mat-card-subtitle>
          <p style="font-family: 'Century Gothic',serif;font-weight: lighter">Fiction - Historical Fiction - Non Fiction</p>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-content>
   <!-- <img alt="BigArticleImage" height="368" mat-card-image width="830" ngSrc=""> -->
  </mat-card>

  <div class="topArticleLinks">
    <a href="" style="font-family: 'Century Gothic',serif;font-weight: lighter">
      Readers' Top 66 Horror Novels of the Past Three Years
    </a>

    <a href="" style="font-family: 'Century Gothic',serif;font-weight: lighter">
      The Big Fall Nonfiction Roundup
    </a>

    <a href="" style="font-family: 'Century Gothic',serif;font-weight: lighter">
      Stay In and Read with 51 of This Year's Coziest Mysteries!
    </a>
    <a style="font-size:small;font-weight:bold" href="">More news and interviews <mat-icon>keyboard_arrow_right</mat-icon></a>
  </div>
</div>
