.Article
{
  display:inline-flex;
  margin-top:2rem;
  margin-left:20rem;
}
.topArticle
{
  margin-left:18.5rem;
  background-color:#F4F1EA;
  width:59.8rem;
  margin-top: 1rem;

}
.allHeader
{
  display:inline-flex;
  margin-top:1rem;
  margin-left:2.6rem;
}
.topArticleLinks
{
  padding-left:1rem;
  padding-top:5rem;
}
a
{
  text-decoration:none;
  color:black;
  display:inline-flex;
  font-size:x-large;
  padding-top:3rem;
  width:25rem;
}
a:hover
{
  text-decoration:underline;
}
