@for (a of article; track a.id) {

  <div class="allHeader">
    <mat-card class="topArticle">
      <mat-card-content>
        <mat-card-title-group>
          <mat-card-title>
            <p style="font-family:'Century Gothic',serif;font-weight:bold">
              {{a.title}}

            </p>
          </mat-card-title>
          <mat-card-subtitle>
            <p style="font-family: 'Century Gothic',serif;font-weight: lighter">Posted {{a.posted | date}}</p>
          </mat-card-subtitle>



        </mat-card-title-group>
      </mat-card-content>
      <img routerLink="/article-details/{{a.id}}" alt="BigArticleImage" height="368" mat-card-image width="860" ngSrc="{{a.articleImage}}" style="cursor: pointer">
    </mat-card>





  <div class="topArticleLinks">
    <a href="" style="font-family: 'Century Gothic',serif;font-weight: lighter">
      Readers' Top 66 Horror Novels of the Past Three Years
    </a>

    <a href="" style="font-family: 'Century Gothic',serif;font-weight: lighter">
      The Big Fall Nonfiction Roundup
    </a>

    <a href="" style="font-family: 'Century Gothic',serif;font-weight: lighter">
      Stay In and Read with 51 of This Year's Coziest Mysteries!
    </a>
    <a style="font-size:small;font-weight:bold" href="">More news and interviews <mat-icon>keyboard_arrow_right</mat-icon></a>
  </div>
</div>
}
