<h1 style="font-family:'Century Gothic',serif;margin-left:20rem;padding-top: 2rem">News & Interviews</h1>

<div class="Article">
  <mat-card class="Article1" style="margin:1rem">
   <!-- <img mat-card-image src="" alt="article" style="width: 25rem"> -->
    <mat-card-content style="background-color: #F4F1EA">
      <p style="padding-top:1rem;font-family: 'Century Gothic',serif;font-size: 1.1rem">
        Readers' Top 66 Horror Novels of the Past <br> Three Years
      </p>
      <p style="font-family: 'Century Gothic',serif;font-weight: lighter;">Fiction - Horror</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="Article2" style="margin:1rem;">
   <!-- <img mat-card-image src="" alt="article2" style="width: 25rem">-->
    <mat-card-content style="background-color: #F4F1EA">
      <p style="padding-top:1rem;font-family: 'Century Gothic',serif;font-size: 1.1rem">
        The Big Fall Nonfiction Roundup
        <br>

      </p>
      <p style="font-family: 'Century Gothic',serif;font-weight: lighter; padding-top: 1.2rem">Biography - Essays - History</p>
    </mat-card-content>

  </mat-card>
  <mat-card class="Article3" style="margin:1rem;">
   <!-- <img mat-card-image src="" alt="article3" style="width: 25rem"> -->
    <mat-card-content style="background-color: #F4F1EA">
      <p style="padding-top:1rem;font-family: 'Century Gothic',serif;font-size: 1.1rem">
        Stay In and Read with 51 of This Year's <br>Coziest Mysteries!
      </p>
      <p style="font-family: 'Century Gothic',serif;font-weight: lighter;">Fiction - Mystery - Thriller</p>
    </mat-card-content>
  </mat-card>
</div>



