<h1 style="font-family:'Century Gothic',serif;margin-left:20rem;padding-top: 2rem">News & Interviews</h1>
<div class="Article">
  <owl-carousel-o [options]="customOptions" style="width:60%">
@for (a of articles; track a.id)
{
  <ng-container>
    <ng-template carouselSlide [width]="500">

  <mat-card class="Article1" style="margin:1rem;width: 26rem;">
   <img mat-card-image src="{{a.articleImage}}" alt="article" style="width: 26rem;cursor: pointer" routerLink="/article-details/{{a.id}}">
    <mat-card-content style="background-color: #F4F1EA">
      <p style="padding-top:1rem;font-family: 'Century Gothic',serif;font-size: 1.1rem">
        {{a.title}}
      </p>
      <p style="font-family: 'Century Gothic',serif;font-weight: lighter;">{{a.posted | date}}</p>
    </mat-card-content>
  </mat-card>
    </ng-template>
  </ng-container>


}
  </owl-carousel-o>
</div>


