/** Header **/
.Header
{
  background-color: #ffc0af;
  color: black;
  font-size: x-small;
  height:0.1rem;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}
.Header:hover
{
  cursor: pointer;
}
.HeaderItems
{
  display: flex;
  justify-content: center;
}
h1
{
  padding-inline: 0.5rem;
  font-weight: lighter;
  font-size: x-small;
}

/** Navigation Bar **/
.NavigationBar
{
  background-color:#f4f1ea;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  border-bottom-style:inset;
  border-width: 0.1rem;
}
.NavigationBarRow
{
  padding-inline:22rem;
}
.NavigationBarLinks
{
  font-size: 1rem;
  padding-inline:3rem;
  padding-top: 0.1rem;
}
.Title
{
  font-size:2rem;
}

a{
  text-decoration: none;
  color: black;
  padding-inline:0.5rem;
}
div{
  display:flex;
}


