<mat-toolbar class="Header">
  <mat-toolbar-row class="HeaderItems">
    <mat-icon>adb</mat-icon>
    <h1 style="font-weight: bolder">100 New Horror Books</h1>
    <h1>Picks for every kind of reader</h1>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>



<mat-toolbar class="NavigationBar">
  <mat-toolbar-row class="NavigationBarRow">
    <div class="Right">
      <span class="Title" style="font-weight: bolder">Corvo</span>
      <span class="Title" style="color: #730505;font-weight: bolder">Bianco</span>
      <div class="NavigationBarLinks">
        <a href="" >Home</a>
        <a href="">My Books</a>
        <a href="">Community</a>
        <a routerLink="author">Authors</a>
      </div>

    </div>

      <mat-form-field class="SearchBar" style="padding-top: 1.2rem;height: 4.5rem;width: 20rem;margin-left: 7rem">
        <mat-label style="font-family: 'Century Gothic',serif">
          Search
        </mat-label>
        <input class="SearchInput" type="text" matInput placeholder="Book">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-raised-button style="height: 2.5rem;width: 8rem;margin-left: 1rem; background-color: #730505;color:#fde9d4; font-family: 'Century Gothic',serif">Sign Up</button>
    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger style="font-family:'Century Gothic';font-weight: bold">Admin</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openAddAuthorDialog()">Add Author</button>
      <button mat-menu-item (click)="openAddGenreDialog()">Add Genre</button>
      <button mat-menu-item (click)="openAddSeriesDialog()">Add Series</button>
      <button mat-menu-item (click)="openAddBookDialog()">Add Book</button>
      <button mat-menu-item (click)="openAddArticleDialog()">Add Article</button>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>
