<div style="display:flex;">
  <h1 style="font-family:'Century Gothic',serif;margin-left:20rem;padding-top: 2rem">Fantasy</h1>

  <button mat-raised-button style="background-color:#F4F1EA;margin-left:70rem;margin-top: 2rem;">
    Add Book
  </button>
</div>





<div class="Books" style="font-family:'Century Gothic',serif">
  <mat-card class="cardBook"  style="width: 14.5rem;border-radius: 5%" >
    <!--<img mat-card-xl-image src="assets/thebladeitself.jpg" alt="bladeitself" style="width:14.5rem;height:19rem;"> -->
    <mat-card-content>
      <p style="padding-top: 1rem;font-size:large">
        Title
      </p>
      <p style="font-size: larger">
        Author
      </p>
      <p><mat-icon>star</mat-icon> Rating . RatingCount</p>
      <button mat-raised-button>Delete Book</button>
      <button mat-raised-button>Edit Book</button>
    </mat-card-content>
  </mat-card>
</div>
